@import url("./assets/Fonts/axiformaFont/stylesheet.css");
@font-face {
  font-family: StarWars;
  src: url("./assets/Fonts/Starjedi.ttf");
}
/* src/assets/Fonts/axiformaFont */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.cm-scroller,
.cm-gutters {
  background-color: rgb(35, 35, 35) !important;
}

.cm-focused {
  outline: none !important;
}

@layer components {
  .preferenceBtn {
    @apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus: outline-none inline-flex ml-auto p-1 mr-2 hover:bg-dark-fill-3;
  }

  .preferenceBtn-tooltip {
    @apply absolute w-auto p-2 text-sm m-2 min-w-max translate-x-3 right-0 top-5 z-10 rounded-md shadow-md text-dark-layer-2 bg-gray-200 origin-center scale-0 transition-all duration-100 ease-linear group-hover:;
  }
}

/* dark  scrollbar */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* ::-webkit-scrollbar-track {
  background: #282828;
} */

::-webkit-scrollbar-thumb {
  background: #323232;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(26, 26, 26);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("../src/assets/vertical-dots.svg");
  background-size: 4px;
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("../src/assets/rotated-dots.svg");
  background-size: 16px;
  cursor: row-resize;
}

code {
  border-radius: 5px;
  /* border-width: 1px; */
  font-family: "Axiforma";
  font-size: 13px;

  line-height: 1rem;
  padding: 5px 8px;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: rgb(26, 26, 26);
}

.example-card pre {
  font-family: "Courier New";
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 4px;
  padding: 8px 12px;
  white-space: pre-wrap;
}

.example-card pre strong {
  color: white;
  font-size: 14px;
}
